{{ define "globals/footer.tmpl" }}
    <footer>
        <p>
        Jquery status <span id="jqstatus">Off</span>
        </p>
    </footer>
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        jQuery(document).ready(function($){
            $("#jqstatus").text("OK");
        });
    </script>
</body>
</html>
{{ end }}